/* Color Palette */

:root{
    --camp-header:#fefeff;
    --camp-text:#010100;
    --camp-btn-backg:#e8e8ed;
    --camp-main-backg:#7ffed5;
    --camp-footer:#fefeff;
}

/* Header Section */

.header{
    width: 900px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;

    .left{
        display: flex;
        gap: 2rem;
        align-items: center;
    }

    img{
        height: 60px;
        width: 60px;
    }

}

/* Main Section */
.container{
    background-color: var(--camp-main-backg);
    height: 1000px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: auto;
    padding-top: 5rem;
    align-items: center;


    .box{
        height: 90px;
        width: 90px;
        background-color:yellow;
        border: 1px solid black;
       
    }
}
